//colors

$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

//font Size
$nameAndStats: 1.05em; //18px

$font-m: 0.9375em; //15px

$font-s: 0.875em; //14px

$font-xs: 0.62em;

//font-family: 'Kumbh Sans', sans-serif;
